body
{ font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button
{ font:99% sans-serif; }

pre, code, kbd, samp
{ font-family:monospace, sans-serif; }


/*
 * BASE STYLES
 */

html
{ overflow-y:scroll; } /* always force a scrollbar in non-IE */

body, select, input, textarea
{ color:#444; font-family:sans-serif; }

h1,h2,h3,h4,h5,h6
{ font-weight:bold; margin:0 0 1em; }

h2.section
{ font-size:250%; margin:1em 0 1.5em; text-align:center; }

p
{ margin:0 0 1.231em; }

a, a:active, a:visited	{ color: #607890; }
a:link					{ -webkit-tap-highlight-color:#ff5e99; }
a:hover, a:active		{ outline: none; }
a:hover					{ color: #036; }
a:focus					{ background-color:#607890; color:#eaeaea; }
a[href^="error:"]		{ background:red; color:white; }

ul, ol
{ margin:0 0 1.8em 1.8em; }

ol
{ list-style-type:decimal; }

small
{ font-size:85%; }

strong, th
{ font-weight:bold; }

td, td img
{ vertical-align:top; }

sub
{ vertical-align:sub; font-size:smaller; }

sup
{ vertical-align:super; font-size:smaller; }

pre
{ padding:15px;

  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}


/** QUOTATION **/
q, blockquote
{color:#333; font-family:sans-serif; quotes:"“" "”" "‘" "’";}

blockquote {
	-moz-border-radius:10px; -o-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
	-moz-box-shadow:0 -1px 10px rgba(0, 0, 0, 0.15); -webkit-box-shadow:0 -1px 10px rgba(0, 0, 0, 0.15);
	background-color:#ffefef; border:1px solid #ccc; margin:0 1em 1.25em; padding:1.5em 2.25em 0;
}

blockquote:before, blockquote:after
{color:#6b9fbf; font-family:Georgia, 'New York CE', utopia, serif; font-size:250%; font-weight:bold;}

q:before, blockquote:before
{content:open-quote; padding:0;}

q:after, blockquote:after
{content:close-quote; padding:0; vertical-align:text-bottom;}


/** FORMS **/
textarea
{ overflow:auto; }

label.required
{ font-weight:bold; }

.ie6 legend, .ie7 legend
{ margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label */
input[type="radio"]			{ vertical-align:text-bottom; }
input[type="checkbox"]		{ vertical-align:bottom; }
.ie7 input[type="checkbox"]	{ vertical-align:baseline; }
.ie6 input					{ vertical-align:text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button, .pointer
{ cursor:pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea
{ margin:0; }

/* colors for form validity */
input:valid, textarea:valid { }
input:invalid, textarea:invalid {
      border-radius:1px;
    -moz-box-shadow:0px 0px 5px red;
 -webkit-box-shadow:0px 0px 5px red;
         box-shadow:0px 0px 5px red;
}

form h3
{ color:#888; font-size:120%; min-height:24px; line-height:26px; }

form h3.error
{ background:url('../images/ico_error_24.png') 0 0 no-repeat; color:#bf6b6e; padding:0 0 0 26px; }

form span.error {
	-moz-border-radius:8px; -o-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
	-moz-box-shadow:2px 1px 3px rgba(0, 0, 0, 0.5);
	background:#3389cf url("../images/ico_error_16.png") 1px 50% no-repeat; color:#ddd; display:inline-block; font-size:85%; height:18px; line-height:18px; margin:0 0 0 5px; padding:0 8px 0 20px;
}

form span.error.bottom
{ clear:both; float:left; margin:0 0 3em -1em; }

form .spinner
{ background:url('../images/ico_spinner_16.gif') 0 0 no-repeat; display:inline-block; height:16px; margin:0 0 -5px 10px; width:16px; }

/* make buttons play nice in IE */
button
{ overflow:visible; width:auto; }


/* bicubic resizing for non-native sized IMG */
.ie7 img
{ -ms-interpolation-mode: bicubic; }


::-moz-selection
{ background:#ff5e99; color:#fff; text-shadow:none; }

::selection
{ background:#ff5e99; color:#fff; text-shadow:none; }


/*
 * HELPER CLASSES
 */

/* Hide for both screenreaders and browsers */
.hidden
{ display:none; visibility:hidden; }

/* Hide only visually, but have it available for screenreaders */
.visuallyHidden
{ position:absolute !important; clip:rect(1px 1px 1px 1px); clip:rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible
{ visibility:hidden; }

.clearfix:after	{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; }
.clearfix		{ zoom:1; }

.flash {
	-moz-border-radius:15px; -o-border-radius:15px; -webkit-border-radius:15px; border-radius:15px;
	-moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3); -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3); box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);
	background-color:#fff9d7; border:1px solid #e2c822; color:#444; display:inline-block; font-size:150%; margin:1em 0; padding:1em;
}
